h1{
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
    margin-top: 230px;
}

#input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group{
    width: 500px;
}

h1 span:nth-child(3n+1){
    color: #4285f4
}

h1 span:nth-child(4n+2){
    color: #ea4335
}

h1 span:nth-child(3){
    color: #fbbc05
}

h1 span:nth-child(5){
    color: #34a853
}

